.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square {
  background: #fff; /* Optional: Set a background color for the squares */
  border: 1px solid #999; /* Add a 1-pixel solid grey border */
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row {
  /*border: 1px solid black; /* Memberikan garis tepi hitam setebal 1px */
  /*width: 50px; /* Mengatur lebar kotak */
  height: 30px; /* Mengatur tinggi kotak */
  display: flex; /* Membuat konten di dalamnya menjadi fleksibel */
  justify-content: center; /* Membuat konten di tengah secara horizontal */
  align-items: center; /* Membuat konten di tengah secara vertikal */
  font-size: 20px; /* Mengatur ukuran font (opsional) */
  background-color: lightgreen; /* Warna latar belakang default (abu-abu muda) */
  margin-right: -1px; /* Menghilangkan jarak kanan antar kotak */
  margin-bottom: -1px; /* Menghilangkan jarak bawah antar baris (jika ada baris di bawahnya) */
}